* {
  font-family: "Creepster", cursive;
  letter-spacing: 8px;
}
body {
  overflow-y: hidden;
  background: url("https://miro.medium.com/max/3840/1*2NPYuRT1CXTbHe1reB1sPA.jpeg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: auto;
}

.container {
  margin: auto;
  padding: 0 5% 5% 5%;
  width: 50%;
  padding: 10px;
}
.container h1 {
  color: white;
  text-shadow: 3px 5px #ce1d1d;
  margin-top: 4%;
  font-size: 50px;
  text-align: center;
}

.hangman-wrapper {
  margin: auto;
  margin-top: 100px;
  width: 50%;
  border-radius: 20px;
  padding: 10px;
  height: 400px;
  width: 300px;
}

.hangman-images {
  height: 400px;
  height: 500px;
}
.wrong {
  float: right;
  color: red;
  font-size: 20px;
}
.wrong p {
  height: 10px;
}
.wrong h4 {
  color: red;
}

.number-of-misses {
  font-size: 40px;
}

.keyboard {
  margin: auto;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.buttons {
  text-align: center;
}

.hangman {
  border: 4px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin-left: -100px;
}

.print {
  font-size: 50px;
  color: rgb(238, 6, 6);
}

.notification-container {
  background-color: rgba(197, 24, 8, 0.863);
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
  position: absolute;
  bottom: -55px;
  transition: transform 0.3s ease-in-out;
  color: white;
  margin-left: 200px;
  box-shadow: inset 0 0 5px 2px #72fd00;
}

.notification-container p {
  margin: 0;
}

.notification-container.show {
  transform: translateY(-50px);
}

/* popup */
.popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background: #ff0b0b;
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin-top: 300px;
}

.popup button {
  cursor: pointer;
  background-color: #fff;
  color: #f00606;
  border: 0;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
}

.popup button:active {
  transform: scale(0.98);
}

.popup button:focus {
  outline: 0;
}

/* popup end */

/* media queries */

@media screen and (max-width: 415px) {
  body {
    background: url("https://miro.medium.com/max/3840/1*2NPYuRT1CXTbHe1reB1sPA.jpeg")
      no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    margin: auto;
  }
  .hangman {
    width: 100px;
    margin-top: -70px;
  }
  .pokusaji h4 {
    margin-top: -180px;
  }
  .print {
    margin-top: -300px;
    overflow-y: hidden;
    font-size: 35px;
  }
  .popup {
    background: red;
    width: 250px;
    margin-right: 20px;
  }
  .popup h2 {
    font-size: 15px !important;
    line-height: 15px;
    letter-spacing: 2px;
  }
  .notification-container {
    margin-left: 20px;
    width: 300px;
    margin-bottom: 0px;
    font-size: 10px;
    height: 40px;
    padding-bottom: 35px;
    letter-spacing: 5px;
  }
}

@media only screen and (max-width: 412px) {
  body {
    background: url("https://miro.medium.com/max/3840/1*2NPYuRT1CXTbHe1reB1sPA.jpeg")
      no-repeat center center fixed;
    background-size: cover;
  }
  .hangman {
    width: 150px;
  }
  .pokusaji h4 {
    margin-top: -180px;
  }
  .print {
    margin-top: -180px;
    overflow-y: hidden;
  }
  .popup {
    background: red;
    width: 250px;
  }
  .popup h2 {
    font-size: 20px;
  }
  .notification-container {
    margin-left: 20px;
    width: 300px;
    margin-bottom: 0px;
    font-size: 10px;
    height: 40px;
    padding-bottom: 35px;
    letter-spacing: 5px;
  }
}

@media only screen and (max-width: 415px) {
  body {
    background: url("https://miro.medium.com/max/3840/1*2NPYuRT1CXTbHe1reB1sPA.jpeg")
      no-repeat center center fixed;
    background-size: cover;
  }
  .hangman {
    width: 150px;
  }
  .pokusaji h4 {
    margin-top: -180px;
    color: red;
  }
  .print {
    margin-top: -200px;
    overflow-y: hidden;
  }
  .popup {
    background: red;
    width: 250px;
  }
  .popup h2 {
    font-size: 20px;
  }
  .notification-container {
    margin-left: 20px;
    width: 300px;
    margin-bottom: 0px;
    font-size: 10px;
    height: 40px;
    padding-bottom: 35px;
    letter-spacing: 5px;
  }
}

@media only screen and (max-width: 320px) {
  .notification-container {
    margin-left: 20px;
    width: 260px;
    margin-bottom: 0px;
    font-size: 10px;
    height: 40px;
    padding-bottom: 35px;
    letter-spacing: 5px;
  }
}

/* media queries */
